@page
@model BookReaderASP.NETCore.Pages.CreateModel2
@{
    <style>
        input {
            display: block;
        }
    </style>
    <form action="/User/Create" method="post">
        First Name:
        <input name="firstName" id="firstName" />
        Last Name:
        <input name="lastName" id="lastName" />
        Personal Number:
        <input name="personNum" id="personNum" />
        E-Mail:
        <input name="eMail" id="eMail" />
        Post Adress:
        <input name="postAdress" id="postAdress" />
        Post Number:
        <input name="postNum" id="postNum" />
        City:
        <input name="city" id="city" />
        <button>Create User</button>
    </form>
}
