@page
@using BookReader.Models
@model BookReaderASP.NETCore.Pages.Users.IndexModel
@{

    <style>
        th, td {
            padding: 10px;
        }
    </style>

    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        @foreach (User u in Model.users)
	{
		 <tr>
             <td>@u.firstName</td>
             <td>@u.lastName</td>
                <td>
                    <a href="/User/Details?userID=@u.userID">Details</a>
                    <a href="/User/Update?userID=@u.userID">Update</a>
                    <a href="/User/Delete?userID=@u.userID">Delete</a>
                </td>
         </tr>
	} 
        </table>
    <br/>
    <form action="/User/Details" method="get">
        <div class="mb-3">
            <label class="form-label">Lookup Specific Book ISBN:</label>
            <input name="postAdress" id="postAdress" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Lookup</button>
    </form>
    <a href="/User/Create">Create</a>
}
