@page
@model Library.Pages.Users.DetailsModel
@{
}

<table>

    <tr>
        <th>First Name</th>
        <th>Surname</th>
        <th>SSN</th>
    </tr>
   
        <tr>
            <td>@Model.user.FirstName</td>
            <td>@Model.user.Surname</td>
            <td>@Model.user.SSN</td>
        </tr>
    

</table>

