@page
@using BookReader.Models
@model BookReaderASP.NETCore.Pages.Loans.IndexModel


@{
    <style>
        th, td {
            padding: 10px;
        }
    </style>

    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Book ISBN</th>
            <th></th>
        </tr>
        @foreach (Loan l in Model.loans)
        {
            <tr>
                <td>@l.firstName</td>
                <td>@l.bookISBN</td>
                <td>
                    <a href="/Loan/Details?loanID=@l.loanID">Details</a>
                    <a href="/Loan/Update?loanID=@l.loanID">Update</a>
                    <a href="/Loan/Delete?loanID=@l.loanID">Delete</a>
                </td>
            </tr>
        }

    </table>
    <br />
    <form action="/Loan/Details" method="get">
        <div class="mb-3">
            <label class="form-label">Lookup Loan of specific Book ISBN:</label>
            <input name="bookISBN" id="bookISBN" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Lookup</button>
    </form>
}



