@page
@model BookReader.Pages.DetailsModel
@{
    <table>

        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>ISBN</th>
        </tr>
        
        
            <tr>
                <td>@Model.book.Title</td>
                <td>@Model.book.Author</td>
                <td>@Model.book.Genre</td>
                <td>@Model.book.ISBN</td>
            </tr>
        

    </table>
}
