@page
@model BookReaderASP.NETCore.Pages.FormPostModel
@{
    <form action="" method="post">
        Name:
        <input name="name" id="name" />
        <input type="submit" />
    </form>
    </form>
}
